PORT=4000

# Servicio de sismos del IGP (ArcGIS REST - Feature Layer)
IGP_SISMOS_URL=https://ide.igp.gob.pe/geoportal/rest/services/SISMOS/SismosReportados/FeatureServer/0/query

# Servicio de datos abiertos del INEI (CKAN / DKAN Data API)
INEI_DATOS_ABIERTOS_URL=https://www.datosabiertos.gob.pe/api/3/action/datastore_search
